.crewMain{
    width: 100%;
    height: auto;
    background: url("./assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    display: flex;
    color: white;
}

.crewLeft{
    flex: 1;
    display: flex;
    height: 100vh;
    align-items: flex-end;
   
}
.crewLeftWrapper{
    height: 85%;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-direction: column; 
}
.crewInfo{
    flex: 3;
}
.crewInfo h2{
    font-weight: 100;
    margin-bottom: 100px;
    opacity: 0.8;
}
.crewInfo h3{
    opacity: 0.5;
    font-weight: 100;
    margin-bottom: 15px;
}
.crewInfo h1{
    font-weight: 100;
    font-size: 27px;
    opacity: 0.9;
    margin-bottom: 20px;
}
.crewInfo p{
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
    opacity: 0.8;
}
.points{
    flex: 1;
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.point{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.point.active{
    background-color: white;
}
.crewRight{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.crewImg{
    width: 1200%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.crewImg img{
    width: 60%;
    height: 80%;
}
