.Dmain{
    width: 100%;
    height: 100vh;
    background: url("./assets/destination/background-destination-desktop.jpg");
    background-size: cover;
   
}

.dMainLeft{
    height: 100%;
    flex: 1.5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}
.dMainLeftWrapper{
    height: 70%;
}
.dMainLeftWrapper h2{
    margin-bottom: 50px;
}
#destinationImg{
    height: 70%;
}

#destinationImg img{
    height: 100%;
    width: 100%;
}

.dMainRight{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}
.dMainRightWrapper{
    height: 65%;
    width: 100%;
    padding-right: 30%;
}
.dMainRightWrapper ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.dMainRightWrapper ul li{
    list-style: none;
    cursor: pointer;
    height: 40px;
    font-size: 22px;
}
.dMainRightWrapper ul li.active{
    border-bottom: 2px solid white;
}
.dMainRightWrapper ul li:hover{
    transform: scale(1.05);
}

.planetInfo h1{
    font-size: 70px;
    margin: 30px 0;
}
.planetInfo p{
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 20px;
}
.plantntExtraInfo{
    line-height: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: 100;
    font-size: 14px;
}
.travel p{
    font-size: 15px;
    font-weight: 100;
}
.distance p{
    font-size: 15px;
    font-weight: 100;
}

@media only screen and (max-width:1200px){
    .dMainRightWrapper{
        padding-right: 10%;
    }
    #destinationImg img{
        height: 80%;
        width: 90%;
    }
 
}
@media only screen and (max-width:900px){
    .Dmain{
        flex-direction: column;
            height: 120vh;
            margin-bottom: 150px;
           
       
    }
    #destinationImg{
        display: flex;
        justify-content: center;
    }
    #destinationImg img{
        height: 100%;
        width: 75%;
    }
    .dMainRight{
        align-items: flex-start;
        margin-top: 50px;
    }
    .dMainRightWrapper{
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        padding-right: 0;
    }
    hr{
        margin: 50px 0;
    }
}

@media only screen and (max-width:650px){
    #destinationImg img{
        width: 70%;
    }
    .dMainRightWrapper{
        width: 70%;
      
    }
    .travel p{
        font-size: 10px;
        font-weight: 100;
    }
}
@media only screen and (max-width:500px){
    .dMainRightWrapper ul li{
        font-size: 18px;
    }
    .planetInfo p{
      
        font-size: 18px;
    }
    .plantntExtraInfo{
        font-size: 14px;
    }
}