@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 40px;
    display: flex;
}

header .left{ 
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .center{
    flex: 4.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .center .line{
    width: 100%;
    height: 2px;
    background-color: rgb(35, 30, 30);
    
}
header .right{
    flex: 8;
    position: relative;
    
  
}
.rbgColor{
    width: 100%;
    height: 100%;
    background-color: #657289;
    opacity: 0.4;
}
.rbgItems{
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 10px;
    font-family: 'Bitter', serif;
    
}
.rbgItems p{
    height: 100%;
    display: flex;
    align-items: center;
}
.rbgItems p a {
    text-decoration: none;
    color: white;
}
.rbgItems p.active{
    border-bottom: 3px solid white ;
}
.rbgItems p:hover {
    transform: scale(1.1);
}


/* :::::: MAIN SECTION :::::::::: */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.mainLeft{
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}
.mainLeftWrapper{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 60px;
    

}
.mainLeftWrapper h1{
    font-size: 100px;
    margin: 20px 0;
}
.mainLeftWrapper p{
    width: 85%;
    font-family: 'Bitter', serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7;
}
.mainRight{
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.mainRwrapper{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
    cursor: pointer;
    left: 10%;
}
.mainRwrapper:hover{
    transform: scale(1.1);
}
.mainRwrapper p{
    opacity: 0.8;
    font-size: 18px;
}





